
body {
    background-color: black;
    display:flex;
    flex-direction: column;

    #root {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .main {
            min-height: 100vh;
        }
    }

    .container {
        display:flex;
    }


}