
body {
    background-color: black;
    display:flex;
    flex-direction: column;
    margin:0;
    
    #root {
        background-image: url(../images/278239420_513589940424101_354968525891982853_n.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .main {
            min-height: 100vh;
        }
    }

    .container {
        display:flex;
    }


}