
.product-list {
    display:flex;
    background-color: #020;
    flex-wrap: wrap;
    justify-content: left;
    background-image: url(../../assests//images/278239420_513589940424101_354968525891982853_n.jpg)
}