@import '../../../assests/styles/colors';

.product-detali {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    height: 100%;

    .left-container {
        padding-left:0.5rem;
        padding-right:0.5rem;
        width:66%;
        display:flex;
        flex-direction: column;
       
        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 85%;
            position: relative;
            margin: 0 auto;
           
        }
    }

    .right-container {
        width: 32%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;
        border-radius: 25px;
        flex: 0 0 auto;
        background-color:#eee;
        .product-caddy-section {
            border-bottom: 1px solid black;
            padding-top:20px;
            padding-bottom:20px;
        }

        h2, h3, h1 {
            margin:12px 0px;
        }

        
    }
}