@import '../../../assests/styles/colors';
@import '../../../assests//mixins/devices';

.product-detali {
   display: flex;
   flex-direction: row;
   height: 100%;
   

   @include desktop-and-laptop {
    flex-direction: column;
   }

    .left-container {
        padding-left:0.5rem;
        padding-right:0.5rem;
        width: 66%;
        display:flex;
        flex-direction: column;
       
        @include desktop-and-laptop {
            margin-bottom: 40px;
            width: 100%;
        }

        @include mobile {
            padding: 0 0;
            width:100%
        }

        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 75%;
            position: relative;
            margin: 0 auto;

            @include tablet {
                margin: 0;
            }

            @include mobile {
                width: 100%;
            }

           
        }
        
    }

    .right-container {
        width: 32%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;
        border-radius: 25px;
        background-color:#eee;

        @include desktop-and-laptop {
            width: 100%;
        }

        .product-caddy-section {
            border-bottom: 1px solid black;
            padding-top:20px;
            padding-bottom:20px;
            .price {
                padding: 24px 0;
            }
        }

        h2, h3, h1 {
            margin:12px 0px;
        }
        
    }
}