@import '../../assests/mixins/devices';

.content-layout {
    padding: 16px 24px;
    display:block;
    height: 100vh;
    background-color: rgba(255,255,255,0.86);

    @include mobile-and-tablet {
        height:100%;
    }
}
